.messagesContainer {
	display: flex;
  flex-direction: column;
	max-height: 450px;
	overflow-y: auto;
	border: 2px solid gray;
	padding: 10px;
	background-color: dimgray;
}
.messagesItem {
	padding: 5px;
	margin: 5px;
	border: 2px solid lightgray;
	background-color: darkgray;
}
.userName {
	font-weight: bolder;
}