.appWrapper {
	display: grid;
	grid-template-areas: 
		"h h h"
		"n c c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	width: 100vw;
	height: 100vh;
}
.nav {
	grid-area: n;
	height: 100%;
	background-color: aqua;
}
.content {
	grid-area: c;
	height: 100%;
	background-color: brown;
}
.header {
	grid-area: h;
	background-color: chartreuse;
}