.app-wrapper {
	display: grid;
	grid-template-areas: 
		"h h h"
		"n c c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	width: 100vw;
	margin: 0 auto;
}

.header {
	grid-area: h;
	background-color: chartreuse;
}
.header img {
	width: 3vw;
}

.nav {
	grid-area: n;
	background-color: aqua;
}
.nav a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.content {
	grid-area: c;
	background-color: brown;
}
.content img {
	height: 30vh;
	width: 100%;
}